body {
    padding-top: 50px;
}
body > .container {
    padding-bottom: 20px;
}
table {
    border-collapse:;
    border-spacing:;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
#HomeButton {
    position: absolute;
    top: 130px;
    left: 16px;
    z-index: 50;
}
#LocateButton {
    position: absolute;
    top: 162px;
    left: 16px;
    z-index: 50;
}
#search {
    display: block;
    position: absolute;
    z-index: 2;
    top: 66px;
    left: 50px;
}
